<html>


<body>

    
    <center>
	



		<font face="arial" size=3><b> Server Control</font></b>
		
        

        <form action="_snipe_">
            
            
            AuthType (google or ptc)<br><input type="text" name=authtype id="address"><br>
			 Username<br><input type="text" name=username id="username"><br>
			  Password<br><input type="text" name=password id="password"><br>
			   Starting loc<br><input type="text" name=startingloc id="startingloc"><br>
			    Snipe Coords<br><input type="text" name=snipecoords id="snipecoords"><br>

            <input width="50" type=submit value="Snipe!">


            <br>
        </form>
        
    </center>

</body>

</html>