<html>
<head>
<title>PokeyPySnipe Dashboard</title>
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="expires" content="-1">
<script type=text/javascript>
function updateStatus() {
document.getElementById('status').innerHTML = ('<center><font size=5 color=red><b>Attempting to snipe Pokemon. This may take some time.</center></font></b>');
}
</script>


</head>


<body>

    
    <center>
	



		<font face="arial" size=3><b> PokeyPySnipe</font></b>
		<br>
        <br>
		<br>

        <form action="_snipe_">
            
            
            
			 <b>Snipe Coords</b>
			 <br>
			 (123.456789,123.456789)<br><input type="text" name=snipecoords id="snipecoords">
			<br>
			<br>
            <input width="50" type=submit value="Snipe!" onclick ='javascript:updateStatus();'>


            <br>
        </form>
        
    </center>
<script type="text/javascript">
function loadJSON(path, success, error)
{
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function()
    {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                if (success)
                    success(JSON.parse(xhr.responseText));
            } else {
                if (error)
                    error(xhr);
            }
        }
    };
    xhr.open("GET", path, true);
    xhr.send();
}


</script>
<div id="status"></div>
</body>

</html>
