<html>


<body>

    
    <center>
	



		<font face="arial" size=3><b> Server Control</font></b>
		
        

        <form action="_snipe_">
            
            
            AuthType (google or ptc)<br><input type="text" name=authtype id="address"><br>
			 Snipe Coords<br><input type="text" name=snipecoords id="snipecoords"><br>
            <input width="50" type=submit value="Snipe!">


            <br>
        </form>
        
    </center>

</body>

</html>
